*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #202020;
}

.Div-Logo{
    display: flex;
}

.Div-Logo h1{
    margin-top: 6px;
    margin-left: 30px;
    color: #eeeeee;
}

.Logo{
    width: 40px;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #eeeeee;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(0, 204, 255);
}

.detail{
    margin-left: 8%;
    margin-top: 13%;
}

.detail h1{
    color: #eeeeee;
    margin-bottom: 20px;
}

span{
    color: rgb(0, 208, 255);
}

.detail p{
    color: #a3a3a3;
    line-height: 22px;
}

.detail ul{
    margin: 15px 0 0 30px;
    color: #a3a3a3;
    list-style: square;
}

.detail ul li{
    margin-top: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.shape{
    height: 100%;
}

.Dhwaj{
    height: 95%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .Dhwaj{
    left: 45%;
}